body{
  background: #eaafc8;
    
    background: linear-gradient(to right, #d83372, #141315);
    min-height: 100vh;
}
#search-container{
    margin: auto;
}
form{
    justify-content: center;
    
}
.form-control{
    
        
        width: 50%;
}
.btn:hover{
cursor: pointer;
}
div>h1{
    color: azure;
}
.container{
    margin: 0px auto;
}
